@import '@/css/var.scss';

#index {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}